* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 12%, rgba(255,255,255,1) 12%, rgba(255,255,255,1) 100%);
}

.nav_bar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.nav_bar_menu{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}
.nav_border{
    margin-left: 50px;
    height: 50px;
    padding: 5px;
}
.nav_news {
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    padding-left: 50px;
    width: 467px;
    height: 306px;
    border: 1px solid rgb(199, 199, 199);
    position: absolute;
    display: none;
    column-count: 3;
    box-shadow: 0px 0px 5px 5px rgb(246, 246, 246);
}

.news {
    font-size: 18px;
    font-weight: 900;
    margin: 30px;
}

.nav_content {
    font-weight: 900;
    list-style: none;
    font-size: 18px;
    padding: 8px;
    padding-bottom: 12px;
    width: 100px;
}

.nav_content:hover {
    color: rgb(98, 98, 255);
    transition: 0.5s;
    cursor: pointer;
}

.news:hover .nav_news {
    animation: fade_in 0.5s;
    display: block;
}

.search_ {
    outline: none;
    border: none;
    border-bottom: 1px black solid;
    background-color: inherit;
    display: none;
    width: 150px;
    height: 30px;
    position: absolute;
    margin-top: -60px;
    font-size: 15px;
}

a:hover .search_ {
    display: block;
    animation: fade_in_ 2s;
    cursor: default;
}

a:hover .search- {
    animation: fade_out_ 1s;
    opacity: 0;
}

@keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade_in_ {
    from {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade_out_ {
    from {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.main_cont {
    width: 1100px;
    height: 385px;
    min-width: 895px;
    display: flex;
}
.img_1{
    width: 263.75px;
    height: 175px;
    border-radius: 5px;
}
.img_1_container{
    border-radius: 5px; 
    overflow: hidden; 
    height: 175px;
}
.overlay {
    height: 380.19px;
    width: 100%;
    opacity: 0;
    transition: .3s ease-in;
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    top: -389px;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}

.overlay1 {
    height: 175px;
    width: 100%;
    opacity: 0;
    transition: .3s ease-in;
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    top: -179px;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}

.overlay2 {
    height: 175px;
    width: 100%;
    opacity: 0;
    transition: .3s ease-in;
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    top: -155px;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}
.overlay3 {
    height: 300px;
    width: 100%;
    opacity: 0;
    transition: .3s ease-in;
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    top: -280px;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}
.overlay4 {
    height: 300px;
    width: 100%;
    opacity: 0;
    transition: .3s ease-in;
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    top: -280px;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}

.main_img:hover .overlay {
    opacity: 1;
}

.main_img:hover .overlay1 {
    opacity: 1;
}

.main_img:hover .overlay2 {
    opacity: 1;
}

.main_img:hover .overlay3 {
    opacity: 1;
}
.main_img:hover .overlay4 {
    opacity: 1;
}

.sub_menu {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.story_menu {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
.story_menu_sub{
    width: 1100px;
}
.story_content {
    width: 170.8px;
    height: 235px;
    border-radius: 5px;
    overflow: hidden;
}

.gogo_logo {
    width: 30px;
    height: 30px;
    position: relative;
    top: -230px;
    left: 10px;
}

.story_content:hover .story_img {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.story_text {
    height: 33px;
    transition: all .2s ease-in-out;
}

.story_content:hover .story_text {
    height: 67px;
    transform: translateY(-30px);
}
.daily_news{
    display: flex;
    justify-content: center;
}
.daily_date{
    width: 103.81px;
    height: 7px; 
    background-color: #efefef;
    border-radius: 7px;
}
.date_text{
    font-size: 13px;
    color: #b7b6b6;
    margin-top: 2px;
    margin-left: 6px;
}
.daily_date_c:hover{
    color: #39f;
    margin-top: -4px;
    transition: all .4s;
}
.daily_date_c:hover .daily_date{
    background-color: #39f;
    transition-duration: .4s;
}
.daily_date_c:hover .date_text{
    color: #39f;
    transition-duration: .4s;
}
.daily_cont_img{
    width: 210px;
    height: 150px;
    border-radius: 5px;
    margin-right: 0;
}
.button_more{
    height:60px;
    width: 720px;
    border: 1px solid #ececec;
    border-radius: 5px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
}
.button_more:hover{
    color:#39f;
    background-color: rgb(250, 250, 250);
    transition: all .3s ease-in-out;
}
.side_img{
    width: 290px;
    height: 260px;
    border-radius: 5px;
    position: relative;
}
.trending_menu{
    background-color: rgb(252, 250, 245);
    height: 1460px;
}
.trending_content:hover{
    transform: scale(1.05);
    transition-duration: .2s;
}
.transparent{
    color: white; position: relative; top:-240px; width: 482.5px; margin: 30px;
}
.inter_main_img:hover img{
    transform: scale(1.1);
    transition: .3s;
}
.inter_main_img:hover h1{
    opacity: 0.7;
    transition: all .3s ease-in-out;
}
.inter_sub_text{
    margin-left: 30px;
    margin-bottom: 0px;
    color: white;
    position: relative;
    top:-120px;
    height: 92px;
    width: 240px;
    overflow: hidden;
}
.inter_main_img:hover .inter_sub_text{
    transform: translateY(-18px);
    height: 110px;
    transition: .3s ease-in-out;
}
.lifestyle{
    width: 263.75px;
    height: 360px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #efefef;
}
.watch{
    width: 263.75px;
    height: 273px;
    border-radius: 5px;
    overflow: hidden;
}
.main_img:hover img:nth-of-type(1){
    transform: scale(1.1);
    transition: .3s ease-in-out;
}
.gray_menu{
    height: 130px;
}
.gray_menu:hover{
    background-color: #f6f6f6;
    transition: .3s ease-in-out;
}
.life{
    width: 49.5%;
}
.main_scroll{
    width: 263.75px;
}
.main_scroll div:nth-child(3)
{
    opacity: 0;
}
.main_scroll p{
    font-weight: 600; 
    line-height: 24px; 
    font-size: 14px;
}
.mobile_menu{
    display: none;
}
.today_main_menu{
    width: 759.86px;
    border-right: 1px solid #efefef
}
.today_content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.today_cont_text{
    margin-right: 0px;
    width: 480px;
}
.today_img_container{
    width: 210px;
    height: 150px;
    overflow: hidden;
    border-radius: 5px;
}
.btutton_container{
    justify-content: center;
}
.today_cont_title{
    font-size: 20px; 
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px; 
    position: relative; 
    left: -30px;
}
.inter_sm_content{
    border-radius: 5px; 
    width: 263.75px; 
    overflow: hidden;
}
.interview_{
    width: 1100px;
}
.inter_sm_img{
    height: 243px;
    position: relative;
    left: -50px;
}
.inter_b_img{
    height: 500px; 
    position: relative; 
    left: -100px;
}
.inter_b_container{
    min-width: 542.5px; 
    height: 500px; 
    overflow: hidden; 
    border-radius: 5px;
}
.lifestyle_{
    width: 1100px;
}
.lifestyle__{
    display: flex; 
    justify-content: center; 
    margin-top: 90px;
}
.life_container{
    width: 1100px; 
    display: flex; 
    gap: 15px;
}
.lifestyle_img{
    height: 230px;
    width: 263.75px;
}
.life_cont_text{
    width: 263.75px; height: 94px;
}
.comic_text{
    width: 542.5px;
    height: 94px;
}
.border_comic{
    width: 96%;
}
.watch_img{
    overflow: hidden; 
    height: 170px; 
    border-radius: 5px;
}
.watch_cont_img{
    height: 170px;
}
.pic_cont{
    display: flex; 
    justify-content: space-evenly; 
    height: 323px; 
    margin-top: 20px;
    flex-wrap: wrap;
}
.media_menu{
    margin-top: 50px; 
    width: 100vw; 
    height: 767.844px; 
    background-color: rgb(26, 26, 26); 
    display: flex; 
    justify-content: center;
}
.pic_text{
    width: 263.75px;
}
.footer-{
    width: 1100px;
}
.footer-1{
    padding-top: 60px; 
    display: flex; 
    justify-content: space-between;
    padding-bottom: 60px; 
    border-bottom: 1px solid #efefef
}
.footer_logo{
    width: 120px;
}
.footer_text{
    display: flex; 
    gap: 30px; 
    flex-wrap: wrap;
}
@media only screen and (max-width: 1100px){
    body{
        overflow-x: hidden;
    }
    .nav_bar ul{
        display: none;
    }
    .nav_bar p{
        display: none;
    }
    .nav_bar a{
        display: none;
    }
    .nav_bar{
        margin-top: -20px;
        justify-content: space-between;
    }
    .nav_border{
        border: 1px solid #ececec;
        border-radius: 5px;
        margin: 5px;
        font-size: 12px;
    }
    .nav_border img{
        width: 18px;
    }
    .main{
        margin-top: 20px;
    }
    .main_cont{
        display: none;
    }
    .main_img1{
        border-radius: 0px;
    }
    .img_1{
        width: 100vw;
        height: auto;
        margin-top: -100px;
        filter: brightness(70%);
        min-height: 330px;
    }
    .img_1_container{
        min-height: 330px;
        height: 330px;
        border-radius: 0px;
        overflow: hidden;
    }
    .main_scroll{
        width: 100vw;
    }
    [class*=overlay]
    {
        display: none;
    }
    .sub_menu{
        margin-top: 20px;
        display: flex;
        gap: 0px;
        justify-content:left
    }
    .main_img:hover img:nth-of-type(1){
        transform: none;
    }
    .main_scroll div:nth-child(3)
    {
        opacity: 1;
    }
    .main_scroll .main_text{
        color:white;
        position: relative;
        top: -120px;
        font-size: 20px;
        height: 25px;
        overflow: hidden;
        margin-left: 20px;
        margin-right: 50px;
        text-overflow: ellipsis;
    }
    .sub_menu{
        position: relative;
        animation: glide 15s infinite;
        animation-delay: 2s;
    }
    .daily_news{
        justify-content: left;
    }
@keyframes glide{
    0% {left: 0;}
    30%{left: 0;}
    36%{left: -100vw;}
    63%{left: -100vw;}
    69%{left: -200vw;}
    97%{left: -200vw;}
    100%{left: 0;}
}
    .mobile_menu{
        display: flex;
        width: 100%;
        color: white;
        background-color: rgb(52, 52, 52);
        height: 40px;
        margin-top: -82px;
    }
    .story_menu{
        justify-content: left;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
    }
    .story_content{
        width: 22vw;
    }
    .story_content:hover .story_img {
        transform: none;
    }
    .today_date{
        display: none;
    }
    .today_side_menu{
        display: none;
    }
    .today_content{
        display: flex;
        justify-content: left;
        height: 150.5px;
        overflow: hidden;
    }
    .today_cont_text{
        width: auto;
        margin-right: 100px;
        position: relative;
        left: 50px;
    }
    .mobile_today{
        width: 100vw
    }
    .today_img_container{
        overflow: visible;
    }
    .today_main_menu{
        margin-left: 20px;
        border: none;
        width: 100vw;
    }
    .button_more{
        width: 96vw;
    }
    .interview_{
        width:100vw
    }
    .inter_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .inter_sm_content{
        width: 47vw;
        background-color: black;
    }
    .inter_sm_img{
        position: relative;
        left: 0px;
        width: 47vw;
    }
    .inter_b_container{
        width: 70vw;
        background-color: black;
    }
    .inter_b_img{
        min-width: none;
        position: relative;
        left: 0px;
        width: 800px;
    }
    .inter_sub_text{
        width: 40vw;
    }
    .transparent{
        width: 90%;
    }
    .life1100{
        display: none;
    }
    .lifestyle_{
        width: 100vw;
    }
    .lifestyle{
        width: 32vw;
    }
    .gray_menu{
        width: 40vw;
    }
    .life_cont_text{
        width: 32vw;
        height: 88px;
        overflow: hidden;
    }
    .life{
        width: 49vw;
    }
    .comic_text{
        width: 48vw;
    }
    .border_comic{
        width: 47vw;
    }
    .gray_menu{
        width: 50vw;
    }
    .footer-{
        width: 100vw;
    }
    .footer-1{
        flex-direction: column;
        justify-content: center;
    }
    .footer_logo{
        width: fit-content;
        margin: auto;
        height: 35px;
        margin-bottom: 30px;
    }
    .footer_text{
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width: 1060px){
    .watch{
        width: 45vw;
    }
    .watch_cont_img{
        width: 45vw;
        height: 170px;
    }
    .media_menu{
        height: 123vh;
    }
    .pic_cont{
        margin-top: 300px;
        display: flex;
    }
    .pic_text{
        width: 45vw;
        height: 70px;
        overflow: hidden;
    }
}
@media only screen and (max-width: 800px)
{
    .img_1{
        margin-top: 0;
    }
}
@media only screen and (max-width: 760px){
    .today_cont_text p:nth-last-of-type(1){
        font-weight: 100;
    }
    .today_cont_text p:nth-of-type(2){
        display: none;
    }
    .today_cont_text div{
        position: relative;
        left: -300px;
    }
    .today_cont_text{
        margin-right: 40px;
    }
    .today_cont_title{
        font-weight: 100;
        font-size: 17px;
    }
}
@media only screen and (max-width: 700px){
    .story_content{
        width: 30vw;
    }
    .life700{
        display: none;
    }
    .lifestyle{
        width:48vw;
    }
    .life_cont_text{
        width: 46vw;
    }
}
@media only screen and (max-width: 560px){
    .inter_b_container{
        min-width: none;
        width: 80vw;
    }
    .inter_sub_text{
        width: 80vw;
    }
    .inter_sm_content{
        width: 90vw;
    }
    .inter_sm_img{
        width: 90vw;
    }
    .life560{
        display: none;
    }
    .life{
        width: 95vw;
    }
    .comic_text{
        width: 97vw;
    }
    .border_comic{
        width: 90vw;
    }
    .gray_menu{
        width: 100vw;
    }
}